<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Site.css") rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Главная","MainPage","Home")</li>
             <li>@Html.ActionLink("Братья караваевы","ApiYandex","Home")</li>
            
        </ul>
    </nav>
  @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year- Service For Taxi Analytic</p>
        </footer>
</body>
</html>
