@{
    ViewBag.Title = "MainPage";
}
 @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@model List<ServiceForTaxiAnalytic.Models.Location>
<head>
    <meta name="viewport" content="width=device-width" user-scalable="no" />
    <p>Здравствуйте! Вы можете найти кафе рядом с вами</p>
</head>
<body>
<div id="content"></div>
<button class="btn" id="loadBtn" onclick="ConfirmSubmit()">Загрузить</button>
<button class="btn" id="displayBtn">Показать</button>
<script src="~/Scripts/MainPage.js"></script>

@using(Html.BeginForm("UserRequest", "Home", FormMethod.Post))
{<div class="container">
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Город <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in Model)
                            {
                                if (item.Type == 1)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="City">
                            Улица <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in Model)
                            {
                                if (item.Type == 2)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Дом <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in Model)
                            {
                                if (item.Type == 3)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Что рядом со мной?"/></td>
            </tr>
        </table>
    </div>
    <div class="col-md-8 col-md-offset-4">
        <ul>
            <li>Что вы ищете?</li>
            <ul>
                <li>Кафе</li>
                <li>Магазины</li>
            </ul>
        </ul>
    </div>
</div>
</div>
}
</body>